<%- include('layout.ejs') %>

<div class="container py-md-5 container--narrow">
    <div class="text-center">
      <h2>Hello this is <i>finqee</i>, you should setup your personal information, visit forums.</h2>
    </div>  
</div>